:root {
  --contacts-color: #ffffff;
  --link-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --header-text-color: #757575;
  --header-text-color-link: #212121;
  --nav-text-color: #ffffff;
  --accent-color: #2196f3;
  --portfolio-text-color: #212121;
  --web-color: #2196f3;
  --studio-color: #000000;
  --footer-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}
.btn:hover,
.btn:focus {
  color: #2196f3;
  cursor: pointer;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* Header */
.web {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--web-color);
}

.studio {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--studio-color);
}
.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color-link);
}
.header-adress {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
}
/* btn section */
.hidden-section {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.portfolio-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--header-text-color-link);
  font-family: Roboto;
}
.btn-services {
font-family: Roboto;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
color:var(--nav-text-color);
background-color: var(--accent-color);
}
/* body section */
.h3-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.description-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.solution {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--nav-text-color);
  background-color: var(--footer-background-color);
}
.list-main {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.p-main {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.duty-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.work {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* footer */
.footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-color);
  background-color: var(--footer-background-color);
}
.adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
  font-style: normal;
}
.studio-footer {
	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--contacts-color);